extends layout
block content
	div.row-fluid
		div.span4.offset1
			if user
			p= user.username
		div.span4.offset1
			if user
			p= user.email
		select
		    option(value='easy', selected=user.email == 'easy') Easy
		    option(value='normal', selected=user.email == 'normal') Normal
		    option(value='easy', selected=user.email == 'easy') Hard
	include footer
			
//script(src='/js/helpers/ajax-send-form.js')